.titulo {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: blue;
    border-style: solid;
    border-color: rgb(192, 188, 188);
    border-radius: 100px;
    background-color: rgb(192, 188, 188);
    margin-top: 10px;
    margin-bottom: 20px;
}
.index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    border-style: groove;
    background: rgb(192, 188, 188);
    padding: 10px;
}
div{
    text-align: center;
}
#paginainicial {
    background-color: rgb(190, 190, 255);
    margin-left: 30px;
}
#deonde{
    background-color: rgb(190, 190, 255);
}
#cachorras{
    background-color: rgb(190, 190, 255);
 
}
.descricao {
    margin-top: 20px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
}
#eu {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}
#brasilia {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}
#dogs {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}
.sair {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border-style: groove;
    background: red;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
}