.titulo {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: blue;
    border-style: solid;
    border-color: gray;
    border-radius: 100px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
}
.index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    border-style: groove;
    background: gray;
    padding: 10px;
}
div{
    text-align: center;
}
#paginainicial {
    background-color: rgb(114, 114, 231);
    margin-left: 30px;
}
#deonde{
    background-color: rgb(114, 114, 231);
}
#cachorras{
    background-color: rgb(114, 114, 231);
 
}
.descricao {
    margin-top: 20px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
}
#eu {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}
#brasilia {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}
#dogs {
    border-style: groove;
    border-color: blue;
    padding: 10px;
    background-color: blue;
}