<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarcusViniciusPortela</title>
    <!--Aplicando CSS-->
    <link rel="stylesheet" href="estilo.css">
    <!--Aplicando Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Aplicando fonte externa-->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <!--Linha do titulo-->
        <div class="row">
            <div class="col">
                <div class="titulo">
                    <h1>Seja bem vindo ao meu site</h1>
                </div>
            </div>
        </div>
        <!--Menu de navegação-->
        <div class="row">
            <div class="col-">
                <a class="index" id="paginainicial" href="/">PAGINA INICIAL</a>
            </div>
            <div class="col-">
                <a class="index" href="deondeeusou">DE ONDE EU SOU</a>
            </div>
            <div class="col-">
                <a class="index" href="minhascachorras">MEUS AMORES</a>
            </div>
            <div class="col"></div>
        </div>
        <!--Texto decritivo-->
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <div class="descricao">
                    <p>
                    Bom me chamo Marcus Vinicius Portela, normamente a galera me chama de Portela,
                    porque quase sempre tem mais de 1 Marcus na sala.<br>
                    Tenho 17 anos e abaixo você poderá ver uma foto minha, comecei na area da programação a pouco tempo, mas
                    ja gostei bastante e com certeza é com isso que eu quero trabalhar :)
                    </p>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <!--Aplicação de imagem-->
        <div class="row">
            <div class="col"></div>
            <div class="col-">
                <div><img id="eu" src="eu.jpg" width="350px"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
    
    <!--Aplicanção de js do boostrap-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>